@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Roboto+Mono&display=swap');

/**LAYOUT**/

body {
    background-image: url(./bg.jpg)
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
}

.bg-box {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 2vw;
}

#gameboard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.letter-row {
    display: flex;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

#keyboard div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

/**ADDITIONAL STYLES**/

h1 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.75rem;
}

.filled-box { /*When there's something in a box*/
    border: 2px solid black;
}

.keyboard-button {
    margin: 0 3px;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}




/**RESPONSIVENESS**/
@media screen and (max-width: 500px) {

    body{
        background-image: url(./bg-mobile.jpg)
    }

    .bg-box {
        padding: 0;
    }

    .keyboard-button {
        margin: 0 2px;
    }
}